@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=IBM+Plex+Sans:wght@500&family=Lato:ital,wght@0,900;1,300;1,400&family=Roboto:ital,wght@1,300;1,400&family=Yantramanav&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
html,
body {
  line-height: 1.4;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.section1{
    background-image: url(./images/developer.png);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}
.heading{
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 65px;
    letter-spacing: 10px;
    font-weight: 500;
    color: rgb(232, 218, 192);
}
.head2{
    font-size: 30px;
    letter-spacing: 5px;
}
.section2>.heading2{
    font-size: 60px;
    padding-left: 18%;
    left: 30%;
    letter-spacing: 6px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: black;
    color: white;
}
b{
    font-size: 75px;
}
.dev{
    margin: 30px;
    margin-top: 70px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    gap: 50px;
}
.frontend, .backend, .fullstack{
    max-width: 320px;
    box-shadow: 3px 3px rgb(221, 218, 218);
    border-radius: 25px;
    transition: all 0.2s linear;
}
.frontend{
    margin-left: 200px;
}
.fullstack{
    margin-right: 200px;
}
.frontend:hover, .backend:hover, .fullstack:hover{
    transform: scale(1.05);
    box-shadow: 5px 6px rgb(221, 218, 218);
    border-radius: 25px;
}

.info {
    font-size: 23px;
    font-weight: 650;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.info > h4{
    margin-bottom: 20px;
}
.info >p{
    font-size: 20px;
    font-weight: 400;
}
.section3{
    display: flex;
    flex-wrap: nowrap;
}

.contact, .about{
    width: 50%;
    padding: 35px;
}
.contact>h2, .about>h2{
    font-size: 60px;
    font-weight: 400;
}
.contact{
    background-color: aqua;
}
.about{
    background-color: rgb(86, 86, 205);
}
.section4{
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2vh;
}





